<div id="header">
<h1><a href="/urls">TinyApp</a></h1>

<% if (user === undefined) { %>
  <a href = "/login"><button>Login</button></a>
  <a href = "/register"><button>Register</button></a>
<% } else { %>
  <p>Logged in as: <%= user.email %></p>
  <form method="post" action="/logout">
    <button>Log out</button>
  </form>
<% } %>
</div>