<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="../styles.css" >
</head>

<body>
  <% include ./partials/_header %>
  <h1 class="title">Login</h1>

  <form action="/login?_method=PUT" method="POST">
    <table id="loginTable">
      <tr>
        <td>
          Email:
        </td>
        <td>
          <input id="email" type="email" name="email" placeholder="example@gmail.com" style="width: 300px">
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">Password:</label>
        </td>
        <td>
          <input id="password" type="password" name="password" style="width: 300px">
        </td>
      </tr>
    </table>
    <button type="submit" class="loginSubmit">Submit</button>
  </form>

</body>
</html>