<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="../styles.css" >
</head>

<body>
  <% include ./partials/_header %>
  <h1 class="title">Register</h1>
  <table style="width: 700px">
    <tr>
      <td>
        <form action="/register" method="POST">
        Enter your email:
      </td>
      <td>
        <input id="email" type="email" name="email" placeholder="example@gmail.com" style="width: 400px">
      </td>
    </tr>
    <tr>
      <td>
        Create a password:
      </td>
      <td>
      <input id="password" type="password" name="password" style="width: 400px">
      </td>
    </tr>
  </table>
      <button type="submit" class="loginSubmit" style="width: 700px">Submit</button>
    </form>
</body>
</html>