body {
      margin: 0;
      font: 15px yatra one, sans-serif;
      color: #262626;
      background-color: #fffcfc;
    }

.title {
  margin-left: 15px;
}

#header {
  padding: 15px;
  width: 100%;
  background-color: orange;
  margin-left: 0px;
  margin-bottom: 15px;
}

#logo {
  color: #262626;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

.loginButton {
  width: 80px;
  height: 30px;
  font-size: 12px;
}

.loginSubmit {
  margin: 15px;
  width: 500px;
  height: 50px;
  font-size: 20px;
}

.loginButton:hover {
  background-color: grey;
  color: white;
  border-color: grey;
}

#loginTable: {
  padding: 0;
}

.blue {
  color: blue;
}

#createNewLink {
  width: 500px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
}

#newSubmit {
  width: 150px;
  height: 35px;
  font-size: 15px;
}

#updateURL {
  width:80px;
  height: 30px;
}

#createNewLink:hover, #newSubmit:hover, #updateURL:hover, .loginSubmit:hover {
  background-color: #4CAF50;
  color: white;
}

#container {
  text-align: center;
  float: left;
  align-content: center;
}

#deleteButton, #editButton {
  height: 35px;
  width: 70px;
  font-size: 15px;
}

#deleteButton:hover {
  background-color: red;
  color: white;
}

#editButton:hover {
  background-color: orange;
  color: white;
}

#urlListBox {
  margin-bottom: 20px;
}

#urlHeader {
  font-size: 15px;
  font-weight: bold;
}

div {
  padding: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #262626;
}

table {
  background-color: white;
  width: 500px;
  margin-left: 15px;
  border-collapse: separate;
  border: 1px solid grey;
  border-radius: 10px;
  border-color: lightgrey;
}

td {
  padding: 15px
}

input {
  margin: 30px; width: 390px; height: 25px; font-size: 15px; text-align: center;
}

button {
  border-radius: 10px;
}